# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 빌드 아웃풋
dist/
dist-ssr/

# 환경설정
*.local
.env.local
.env.*.local

# Node
node_modules/

# Vite 캐시
.vite/

# 에디터
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 시스템
Thumbs.db
